.sidebar nav {
  margin-top: 6rem;
  position: relative;
  right: 0px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.sidebar nav a {
  text-transform: uppercase;
  text-align: right;
  padding-bottom: 0.2em;
  font-family: FuturaFuturisLight;
}

.sidebar nav a:hover {
  font-weight: 900;
  font-family: FuturaFuturisMedium;
}

.logo {
  display: flex;
}

.topbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu {
  display: flex;
}
