.title {
  display: inline-block;
}

.content {
  margin-bottom: 4em;
  text-align: justify;
}

.content p {
  font-weight: 300;
  margin-block: 1em;
}

.solutionContainer {
  display: inline;
}

.ourSolution {
  font-weight: 600;
  display: inline;
}

.solution {
  display: inline;
}

.problemEmphasis {
  display: inline;
}

.logosTitle {
  text-align: center;
  font-weight: 200;
  margin-top: 3em;
}

.logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1em;
}

.logos img {
  filter: opacity(0.4) saturate(0%);
}