.content {
  margin-bottom: 4em;
  text-align: justify;
  font-weight: 300;
}

.title {
  font-weight: 900;
  font-size: 13pt;
  text-transform: uppercase;
  /* Add a gradient bottom border */
  display: inline-block;
  padding-bottom: .1em;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-image: 
    linear-gradient(
      to right, 
      #73C959, 
      #20E2D6
    ) 1;
}