.container {
  min-height: 100vh;
  padding: 0.5em 0.5em;
  display: flex;
  flex-direction: row;
}

.sidebar {
  flex: 1 1 0;
  flex-direction: column;
}

.logo {
  width: 100px;
}

.sidebar nav ul li {
  list-style-type: none;
  text-transform: uppercase;
  justify-content: flex-end;
}

.main {
  flex: 2 1 0;
  display: flex;
  flex-direction: column;
}



.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}
